@import "../../../styles/variables.scss";

.userPostsContainer {
  //border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.blogHeader {
  color: $primary-color;
  font-size: $fs-base * 1.5;
  font-weight: 700;

  @media screen and (max-width: 640px) {
    margin-left: 16px;
  }

}

.blogContainer {
  max-width: 600px;
  margin-bottom: 56px;
}
