@import '../../styles/variables';
.tabContainer {
  display: flex;
  margin-bottom: 1px;
  background-color: white;
  div {
    cursor: pointer;
    padding: 16px 24px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.54);
  }
  div:hover {
    border-bottom: 1px solid $primary-light-color;
  }
  div.active {
    border-bottom: 1px solid $primary-color;
  }

  @media screen and (max-width: 960px) {
    min-width: 592px;
  }

  @media screen and (max-width: 600px) {
    min-width: 100vw;
  }
}

.postsWrapper {
  @media screen and (max-width: 960px) {
    display: flex;
    justify-content: center;
  }
}

.postsContainer {
  max-width: 592px;
}

.infoContainer {
  background: white;
  padding: 24px;
  position: fixed;
  width: 280px;
  box-sizing: border-box;
  >div {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 150px;
      height: 150px;
      margin-bottom: 16px;
    }
    .tag {
      font-size: 16px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.87);
      margin-bottom: 16px;
    }
    .description {
      text-align: center;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.54);
    }
  }

  .button {
    margin-bottom: 32px;
    >* {
      font-size: 10px;
      padding: 8px 16px;
      line-height: 1;
      letter-spacing: 0.5px;
    }
  }

  @media screen and (max-width: 1200px) {
    position: initial;
    width: auto;
  }

  @media screen and (max-width: 600px) {
    width: 100vw;
    margin-left: -15px;
  }

}
