@import "../../../../index";

.mediaUpload {
  font-size: 12px;
}

.upload {
  padding: 4px 8px;
  background-color: $background-color;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-right: 16px;
  cursor: pointer;
  text-transform: uppercase;
}

.mediaActive {
	cursor: auto;
	background: $primary-color;
	color: white;
}

.linkInput {
	height: 18px;
	margin: 1px 4px;
}
