@import "../../index.scss";

.userSection {
  height: 72px;
  padding-right: 16px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.topSection {
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.titleInput {
  border: none;
  padding-left: 16px;
  border-left: 4px solid $background-color;
}
