.container {
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  text-align: center;
  position: inside;
  transition: all 0.3s ease-in;
  display: flex;
}

.lighten {
  opacity: 0.67;
}

.communityIcon {
  width: 24px;
  height: 24px;
}
