.container {
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  text-align: center;
  display: flex;
  border: 1px solid black;
}

.lighten {
  opacity: 0.67;
}

.communityIcon {
  width: 24px;
  height: 24px;
}
