@import "../../index";

.createPostModal {
  background: white;
  width: 500px;
  padding: 50px;
  margin: 50px 0 0 0;

  @media screen and (max-width: 500px) {
    width: 100%;
  }
}

.userAvatar {
  width: 72px;
  height: 72px;
}

.publishButton {
  background-color: $primary-color;
  color: white;
  padding: 8px 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
}

.textArea {
  border: 0 none;
  resize: none;
}

.communitySingle {
  margin: 5px 12px 0 0 !important;
  font-size: 11px;
  background-color: $background-color;
  padding: 4px 8px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}

.active {
  background-color: $primary-color;
  color: #fff;
}

.communityHeading {
  font-size: 12px;
}

.hashtagInfo {
  font-size: 12px;
  padding: 0;
}

.errorContainer {
  font-size: 13px;
}
