.editorWrite {
  textarea {
    resize: none;
    font-size: 16px;
  }
  .previewContainer {
    span {
      font-size: 24px;
    }
    .previewBody {
      border: 1px solid #ddd;
      min-height: 132px;
      padding: 10px;
    }
  }
  .imageUploadContainer {
    display: flex;
    align-items: baseline;
    .uploadingText {
      font-size: 12px;
      color: rgb(102, 102, 102);
      margin-left: 8px;
    }
  }
}
