@import "../../../styles/_variables.scss";

.createPostModalWrapper {
  background-color: white;
  width: 100vw;
  min-height: calc(100vh - 72px);
  @media screen and (max-width: 1297px) {
    min-height: calc(100vh - 48px);
  }
}

.createPostModal {
  background: white;
  max-width: 1020px;
  padding: 56px;
  margin-top: 40px;
  width: 100vw;
  box-sizing: border-box;

  @media screen and (max-width: 1200px) {
    padding: 32px;
  }

  @media screen and (max-width: 805px) {
    padding: 24px;
  }
}

.userAvatar {
  width: 56px;
  min-width: 56px;
  height: 56px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.publishButton {
  background-color: $primary-color;
  color: white;
  padding: 8px 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
}

.textArea {
  border: 0 none;
  resize: none;
}

.communitySingle {
  margin: 5px 12px 0 0 !important;
  font-size: $fs-x-small;
  background-color: $background-color;
  padding: 4px 8px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}

.active {
  background-color: $primary-color;
  color: #fff;
}

.communityHeading {
  font-size: $fs-small;
}

.hashtagInfo {
  font-size: $fs-small;
  padding: 0;
}

.errorContainer {
  font-size: $fs-small;
}

.postInputArea {
  margin-left: 25px;
  width: 750px;
  flex-grow: 1;
  margin-bottom: 32px;min-height: 120px;
}
