
.viewWrapper {
  width: 100vw;
  min-height: 100vh;
  background-color: white;
  padding-top: 40px;

  @media screen and (max-width: 1297px) {
    margin-top: -20px;
  }
}

.viewContainer {
  max-width: 800px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  background: white;

  > div:not(:last-child) {
    @media screen and (min-width: 800px) {
      padding: 24px;
    }

    @media screen and (max-width: 800px) {
      padding: 40px;
    }

    @media screen and (max-width: 500px) {
      padding: 24px;
      margin-left: 0 !important;
    }
  }
}
