.paddingModerate {
	padding: 24px 24px 18px 24px;
}

.topSection {
	font-size: 12px;
	height: 48px;
}

.userImage {
  width: 48px;
  height: 48px;
}

.userNameContainer {
	height: 24px;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 4px;
	// color: rgba(0, 0, 0, 0.87);
}

.userName {
  font-weight: 500;
}

.communityLabel {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  padding: 4px 8px;
  height: 16px;
  font-size: 10px;
  color: white;
	font-weight: 400;
	margin-right: 8px;
}
