@import "../../styles/_variables.scss";

.sideBarContainer {
	position: fixed;
	width: 240px;
}

.communityImage img {
  width: 48px;
  height: 48px;
}

.communityImage {
  width: 48px;
  height: 48px;
}

.communitiesHeader {
  font-weight: 500;
}

.active {
  border-right: 4px solid $primary-color !important;
}

.communityContainer {
  opacity: 0.7;
}

.communityContainer:hover, .communityContainer.active {
  border-right: 4px solid $primary-light-color;
  opacity: 1;
  font-weight: 500;
}

.communityButton * img {
  width: 24px;
  height: 24px;
}

.communityButton > div {
  padding: 12px !important;
}

.communityLabel {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
