@import "../../../styles/_variables.scss";

.editorWrapper {
  background-color: white;
  width: 100vw;
  min-height: calc(100vh - 72px);
  @media screen and (max-width: 1297px) {
    margin-top: -24px;
    min-height: calc(100vh - 48px);
  }
}

.editorContainer {
  background-color: white;
  padding-top: 40px;
  max-width: 800px;
  @media screen and (max-width: 530px) {
    padding-left: 0 !important;
    padding-right: 0 !important;

  }
}

.userSection {
  height: 72px;
  padding-right: 16px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.topSection {
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.titleInput {
  border: none;
  padding-left: 16px;
  border-left: 4px solid $background-color;
}

.inputBox {
  top: calc(100vh - 390px) !important;
  left: calc(50vw - 104px) !important;
}

.toggleButton div {
  border: none !important;
}

.toggleButton div:hover {
  box-shadow: none !important;
}

.toggleButton {
  border: none !important;
}

.toggleButton:hover {
  box-shadow: none !important;
}

.nextButton {
  position: fixed;
  right: 40px;
  bottom: 18px;
  z-index: 2;

  @media screen and (min-width: 1280px) {
    right: calc(50% - 600px);
  }

  @media screen and (max-width: 530px) {
    bottom: 78px;
    right: 24px;
  }

}

