.feedWrapper {
  margin-bottom: 56px !important;
}

.feedPosts {
  width: 600px;
  margin-top: 10px;

  @media screen and (max-width: 985px) {
      margin-top: 156px !important
  }

  @media screen and (max-width: 1296px) {
    margin-top: 222px;
  }
}

.justifyCenterOn985 {
    @media screen and (max-width: 985px) {
        justify-content: center
    }
}

.sidebarContainer {
  width: 275px;
  justify-content: center;

  @media screen and (max-width: 985px) {
      width: calc(100vw - 110px);
  }

  @media screen and (max-width: 960px) {
  width: calc(100vw - 90px);
  }

}

.feedContainer {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 600px) {
    margin-left: -16px;
  }
}

.widgetContainer {
  max-width: 245px;

  >div {
    position: fixed;

    >*:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  @media screen and (max-width: 1296px) {
    >div {
      position: absolute !important;
      left: 355px;
    }
  }

  @media screen and (max-width: 1200px) {
    >div {
      position: absolute !important;
      left: 345px;
    }
  }

  @media screen and (max-width: 985px) {
    >div {
      position: absolute !important;
      left: 0;
      top: 140px;
    }
  }
}
