@import "../../../styles/_variables.scss";

.communityWrapper {
  padding-bottom: 48px;
}

.interestsHeader {
  font-size: $fs-large;
  color: $primary-color;
}

.communityImage {
  width: 80px;
  height: 80px;
}

.communityContainer {
  width: 74px;
}

.interestsContainer {
  max-width: 480px;
  width: 100%;
}
