.profileCoverContainer {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  width: 100%;
}

.profileImage {
  width: 150px;
  height: 150px;
  display: inline-block;
  background-size: cover;
  margin-top: -75px;
  position: relative;
  background-position: center;
}

.coverPlaceholder {
  background-color: rgba(63, 114, 175, 0.11);
  height: 48px;
  width: 100%;
  min-height: 176px;
  color: rgba(0, 0, 0, 0.11);
  display: flex;
  font-size: 48px;
  justify-content: center;
  line-height: 110px;
}
