.iconContainer {
  padding: 8px;
  margin-left: 4px;
  border-radius: 2px;
  background-color: white;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.iconContainer img {
  min-height: 20px;
  min-width: 20px;
}

.active {
  background-color: rgba(240, 240, 240, 1);
  transition: all 0.3s ease-in;
}
