@import "../../styles/_variables.scss";


.paddingModerate {
	padding: 24px 24px 18px 24px;
}

.topSection {
	font-size: $fs-small;
	height: 48px;
}

.userImage {
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
}

.userNameContainer {
	height: 24px;
	font-size: $fs-base;
	line-height: 24px;
	margin-bottom: 4px;
	// color: rgba(0, 0, 0, 0.87);
}

.userName {
  font-weight: 500;
}

.communityLabel {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  padding: 4px 8px;
  height: 16px;
  font-size: $fs-xx-small;
  color: white;
  margin-right: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
