.container {
  margin-top: 10px;
  margin-bottom: 48px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 40px;
  padding-left: 40px;
  @media screen and (max-width: 600px) {
    padding-right: 0;
    padding-left: 0;
  }
}

.competitionCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
