.ratingContainer {
    width: 640px;
    overflow-y: auto;
    background: white;
    @media screen and (max-width: 640px) {
      width: 100%;
    }
}

.ratingCard {
  padding: 16px 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(242, 242, 242, 0.97);
  >* {
    display: flex;
    align-items: center;
  }
  .userInfoContainer {
    margin-right: 16px;
    *:first-child {
      min-height: 48px;
      height: 48px;
      min-width: 48px;
      width: 48px;
      margin-right: 8px;
    }
  }
  .ratingValues {
    span:first-child {
      margin-right: 8px;
    }
    @media screen and (max-width: 640px) {
      b {
        display: none;
      }
    }
  }
}

.heading {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  background: white;
  span:last-child {
    cursor: pointer;
  }
}
