.editorActionBar {
  bottom: 0;
  left: 0;
  position: absolute;
  justify-content: center !important;
  right: 0;
  padding: 16px 8px 8px 8px !important;
  flex-flow: row !important;
  overflow-x: auto;
  height: 40px;

  @media screen and (max-width: 850px) {
    justify-content: flex-start !important;
  }
}

.editorWrapper {
  position: relative;
  padding-bottom: 80px;
  min-height: calc(100vh - 378px);
}
