@import "../../styles/_variables.scss";

.userMeta {
  padding-left: 32px;
  padding-right: 32px;
}

.bio {
  max-width: 600px;
}

.userName {
  font-weight: 800;
}

.coverImage {
  width: 100%;
  height: 300px;
}
