@import "../../styles/_variables.scss";

.userMeta {
  padding-left: 32px;
  padding-right: 32px;
  @media screen and (max-width: 640px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.bio {
  max-width: 600px;
}

.userName {
  font-weight: 800;
}

.coverImage {
  width: 100%;
  height: 300px;
}
