.postingUserImage {
	height: 32px;
	width: 32px;
	margin: 8px 8px 0 0;
}

.postingUserImage img {
	height: 32px;
	width: 32px;
}

.commentInputContainer {
	border: 1px solid rgba(0, 0, 0, 0.12);
	height: 30px;
	padding: 8px 20px 8px 20px;
	border-radius: 32px;
  width: 100%;
  max-width: 424px;
	flex-grow: 1;
	display: flex;
}

.commentInput, .commentInput:focus {
	flex-grow: 1;
	border: 0px solid transparent;
	outline: none;
	font-size: 14px;
	height: 30px;
	color: rgba(0, 0, 0, 0.54);
}

.sendIcon {
	padding: 4px;
	font-size: 18px;
}
