@import '../../../styles/variables';

.postingUserImage {
	height: 32px;
	width: 32px;
	margin: 8px 8px 0 0;
}

.postingUserImage img {
	height: 32px;
	width: 32px;
}

.commentInputContainer {
	padding: 8px;
	border-radius: 32px;
  width: 100%;
  max-width: 424px;
	flex-grow: 1;
}

.commentInput, .commentInput:focus {
	flex-grow: 1;
	border: 0px solid transparent;
	outline: none;
	font-size: 14px;
	height: 30px;
	color: rgba(0, 0, 0, 0.54);
}

.sendButton {
  padding: 4px 24px;
  margin-top: 8px;
  height: fit-content;
}
