@import "../../styles/variables.scss";

.postSingleContainer {
  max-width: 800px;
  width: 100vw;

  > div {
    @media screen and (min-width: 700px) {
      padding: 24px;
    }
  }
}

.cutomTag {
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
}

.postTitle {
  font-size: 36px;
  font-weight: 400;
  line-height: 54px;
  padding: 8px 24px 18px 24px;
  color: $primary-color;
}
