@import "../../styles/_variables.scss";

.filter {
  padding: $bs-rhythmDiv * 1px $bs-rhythmDiv * 2px;
  font-size: $fs-base;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  height: 24px;
  background-color: $background-color;
  transition: 0.3s all;
}

.filter:hover:not(.activeFilter) {
  background-color: $primary-light-color;
  transition: 0.3s all;
}

.filterContainer {
  padding: 30px 35px;
}

.activeFilter {
  background-color: $primary-color;
  color: white;
}
