@import '../../index.scss';

.header {
  background-color: $primary-color;
}

.header * {
  color: rgba(255, 255, 255, 0.75);
}

.header * a:hover {
  color: white;
  text-decoration: none;
}

.logo {
  height: 50px;
  width: 55px;
  padding: 0 5px 0 0;
}
