@import "../../styles/_variables.scss";

.header {
  height: 72px;
  background-color: $primary-color;

  @media screen and (max-width: 480px) {
    padding: 0 !important;
  }

  @media screen and (max-width: 1296px) {
    height: 48px
  }

  .brandName {
    color: white;
    font-size: 18px;
  }
}

.header * {
  color: rgba(255, 255, 255, 0.75);
}

.header * a:hover {
  color: white;
  text-decoration: none;
}

.header * a:focus {
  color: white;
  text-decoration: none;
}

.competitionText {
  font-weight: 600;
  @media screen and (max-width: 985px) {
    display: none;
  }
}

.logo {
  height: 48px;
  width: 56px;
  padding: 0 8px 0 0;
  @media screen and (max-width: 1296px) {
    height: 40px;
    width: 48px;
    padding: 0;
  }
}

.signIn {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 0 20px !important;
  background-color: white;
  color: $primary-color;
}

.signIn:hover {
  background-color: white;
  color: $primary-color;
}

.userImage {
  width: 32px;
  height: 32px;
  min-width: 32px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}

.dropDownHoverable * {
  color: rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}

.dropDownHoverable:hover * {
  color: black;
  transition: all 0.3s;
}

.flexImportant {
  display: flex !important;
}

.flexNoWrap {
  flex-wrap: nowrap;
}
