@import "../../styles/_variables.scss";

.header {
  height: 72px;
  background-color: $primary-color;
}

.header * {
  color: rgba(255, 255, 255, 0.75);
}

.header * a:hover {
  color: white;
  text-decoration: none;
}

.header * a:focus {
  color: white;
  text-decoration: none;
}

.logo {
  height: 48px;
  width: 56px;
  padding: 0 8px 0 0;
}

.signIn {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 0 20px;
  background-color: white;
  color: $primary-color;
}

.signIn:hover {
  background-color: white;
  color: $primary-color;
}

.userImage img {
  width: 32px;
  height: 32px;
  min-width: 32px;
}

.dropDownHoverable * {
  color: rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}

.dropDownHoverable:hover * {
  color: black;
  transition: all 0.3s;
}

.flexImportant {
  display: flex !important;
}

.flexNoWrap {
  flex-wrap: nowrap;
}
