@import '../../index.scss';

.header {
  background-color: $primary-color;
}

.header * {
  color: rgba(255, 255, 255, 0.75);
}

.header * a:hover {
  color: white;
  text-decoration: none;
}

.logo {
  height: 50px;
  width: 55px;
  padding: 0 5px 0 0;
}

.signIn {
  -webkit-border-radius: 10px 50% 50% 50%;
  -moz-border-radius: 10px 50% 50% 50%;
  border-radius: 30px;
  padding: 0 20px;
  background-color: white;
  color: $primary-color;
}

.signIn:hover {
  background-color: white;
  color: $primary-color;
  font-weight: 800;
}
