@import "../../styles/_variables.scss";

.addContent {

  @media screen and (min-width: 985px) {
    position: fixed !important;
    right: 15%;
    bottom: 0;
  }

  @media screen and (max-width: 1400px) {
    right: 150px;
  }

  @media screen and (max-width: 1220px) {
    right: 70px;
  }

  @media screen and (max-width: 1100px) {
    right: 56px;
  }

  @media screen and (max-width: 985px) {
    margin: 0 !important;
  }
}

.addButton {
  background-color: $primary-color;
  color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  padding: 15px;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.12), 0 0 12px 0 rgba(0,0,0,0.12);
  -webkit-tap-highlight-color: transparent;

  @media screen and (max-width: 985px) {
    padding: 10px;
    background: #3F72AF;
  }
}

.contentTypeContainer {
  position: absolute;
  bottom: 56px;
  transform: translate(-50%,0);
  left: 50%;
}

.contentType {
  border-radius: 24px;
  cursor: pointer;
  padding-right: 36px;
  display: flex;
  align-items: center;
  height: 48px;
  line-height: 48px;
  background: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.12), 0 4px 4px 0 rgba(0,0,0,0.12);
}

.iconContainer {
  width: 48px;
  height: 48px;
  background-color: $primary-color;
  border-radius: 50%;
  line-height: 48px;
}
