@import '../../../styles/variables.scss';

.primaryButton {
  background-color: white;
  color: $primary-color;
  padding: 8px 12px;
  text-align: center;
  transition: all 0.3s ease-in;
  cursor: pointer;
  border-radius: 24px;
  border: 1px solid $primary-color;
}

.primaryButton:hover {
  background-color: $background-color;
  transition: all 0.3s ease-out;
}

.disabled {
  transition: all 0.3s ease-out;
  cursor: unset;
}
