@import '../../styles/variables';

$breakpoint: 1085px;
$breakpoint-2: 660px;

.flexCenter {
  display: flex;
  align-items: center;
}

.leaderboardWrapper {
  margin-bottom: 14px;
  background: white;
  padding: 24px;
  position: relative;

  .header {
    margin-right: 60px;
    @media screen and (max-width: $breakpoint) {
      margin-right: 32px;
    }
    .icon {
      margin-right: 8px;
      img {
        min-width: 32px;
      }
    }
    .text {
      font-size: 20px;
      @media screen and (max-width: $breakpoint-2) {
        display: none;
      }
    }
  }

  .winners {
    .userContainer {
      margin-right: 32px;
      @media screen and (max-width: $breakpoint) {
        margin-right: 8px;
      }
      .icon {
        margin-right: 8px;
        border-radius: 50%;
        box-shadow: 0 0 4px rgb(200, 200, 200);
        a {
          width: 40px;
          height: 40px;
        }
      }
      .text {
        @media screen and (max-width: $breakpoint) {
          display: none;
        }
      }
    }
  }

  .viewAll {
    position: absolute;
    right: 32px;
    cursor: pointer;
    color: $primary-color;
  }
}

.winnerListWrapper {
  min-width: 600px;
  background-color: white;
  box-sizing: border-box;

  .scrollbar {
    >div {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  .modalHeader {
    padding: 32px 32px 16px 32px;
    font-size: 16px;
    background: white;
    margin-bottom: 8px;
  }

  .winnerCard {
    margin-bottom: 4px;
    background: white;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
    padding-bottom: 24px;
    padding-top: 24px;

    &:last-child {
      border-bottom: 0;
    }


    .cardMeta {
      margin-bottom: 8px;
      display: flex;
      justify-content: space-between;

      .rank {
        color: $primary-color;
        margin-right: 8px;
        font-size: 20px;
        flex-basis: 20%;
      }

      .score {
        flex-basis: 20%;
        text-align: right;
      }
    }

    .userInfo {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      flex-basis: 60%;

      a:not(.usernameLink) {
        min-height: 40px;
        min-width: 40px;
        margin-right: 8px;
      }
    }

    .entries {
      padding-left: 22%;
      .entry {
        margin-right: 16px;

        .medal {
          min-height: 40px;
        }
      }
    }
  }
}
