@import "../../index.scss";

.communityImage {
  width: 48px;
  height: 48px;
}

.communitiesHeader {
  font-weight: 500;
}

.active {
  border-right: 4px solid $primary-color !important;
}

.communityContainer {
  opacity: 0.7;
}

.communityContainer:hover, .communityContainer.active {
  border-right: 4px solid $primary-light-color;
  opacity: 1;
  font-weight: 500;
}
