@import "../../index.scss";

.communityImage {
  width: 48px;
  height: 48px;
}

.active {
  border-right: 4px solid $primary-color !important;
}

.communityContainer:hover {
  border-right: 4px solid $primary-light-color;
}
