@import "../../../../index";

.container {
  height: 40px;
}

.container:hover span {
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.38);
  transition: all ease-out 0.3s;
}


.enabled {
  background-color: $primary-color;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  transition: all ease-in 0.3s;
}

.disabled {
  background-color: $background-color;
  color: rgba($color: #000000, $alpha: 0.38);
  padding: 10px 24px;
  transition: all ease-out 0.3s;
}
