@import '../../index.scss';

.postContainer {

}

.topSection {
  font-size: 12px;
}

.userImage {
  width: 56px;
  height: 56px;
}

.userName {
  font-weight: 800;
}

.communityLabel {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  padding: 4px 8px;
  height: 16px;
  font-size: 12px;
  color: white;
  font-weight: 800;
}

.action svg {
  height: 24px;
  width: 24px;
}
