@import '../../index.scss';

.postContainer {
	border: 1px solid rgba(0, 0, 0, 0.12);
	border-radius: 2px;
}

.postSection {
	margin-top: 24px;
}

.action i {
	font-size: 1.5em;
}

.largeIcon {
	font-size: 35px;
}

.cancelRatingButton {
	text-decoration: line-through;
	transform: rotate(288deg);
}
