@import '../../index.scss';

.postContainerBorder {
	border: 1px solid rgba(0, 0, 0, 0.12);
	border-radius: 2px;
}

.postSection {
	margin-top: 24px;
}

.action i {
	font-size: 1.5em;
}

.largeIcon {
	font-size: 35px;
}

.cancelRatingButton {
	text-decoration: line-through;
	transform: rotate(288deg);
}

.articleView {
	max-height: 380px;
	overflow: hidden;
}

.articleReadMore {
	margin-top: -16px;
	padding: 8px 0;
	background-color: rgba(255, 255, 255, 0.9);
	color: #3F72AF;
	letter-spacing: 2px;
	font-weight: 500;
	position: relative;
}

.readMoreText {
	padding: 4px 8px;
	color: rgba(0, 0, 0, 0.54);
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.24);
	border-radius: 4px;
}

.readMoreText:hover {
	background-color: $primary-color;
	color: white;
}
