$primary-color: #3F72AF;
$primary-light-color: #DBE2EF;
$primary-dark-color: #112D4E;

$secondary-color: #ff6b95;
$background-color: #FAFAFA;

html {
  font-family: 'Roboto', sans-serif;
  background-color: $background-color;
}

.transition {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.hoverEffect:hover {
  -webkit-box-shadow: 0 5px 5px 0 $primary-dark-color;
  -moz-box-shadow: 0 5px 5px 0 $primary-dark-color;
  box-shadow: 0 5px 5px 0 $primary-dark-color;
}

.transparent {
  opacity: 0;
}

a, a:hover {
  color: unset;
  text-decoration: none;
}

.separator {
  padding: 1px 10%;
  background-color: $primary-light-color;
}

.marginRightSmall {
  margin-right: 8px;
}

.white {
  background-color: white;
}

.pointer {
  cursor: pointer;
}

.secondaryText {
	color: $secondary-color;
}

.primaryText {
	color: $primary-color;
}

.h1 {
	font-size: 36px;
	font-weight: 500;
	line-height: 54px;
}

.h2 {
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
}

.h3 {
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
}

.h4 {
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
}
