@import "../../index.scss";

.profileCoverContainer {
	margin: 0 -40px;
	height: 300px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-size: cover;
}

.profileImage {
	width: 150px;
	height: 150px;
  margin-top: -75px;
  position: relative;
}

.profileImageNoCover {
  width: 150px;
  position: relative;
}

.interestsHeader {
	font-size: 18px;
	color: $primary-color;
}

.communityImage {
	width: 80px;
	height: 80px;
}

.bio {
	max-width: 600px;
}

.userName {
  font-weight: 800;
}

.blogContainer {
  width: 560px;

  @media screen and (max-width: 560px) {
    width: 100%;
  }
}

.blogHeader {
  color: $primary-color;
	font-size: 22px;
	font-weight: 1000;
}

.userPostsContainer {
	border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.coverImage {
	width: 100%;
	height: 300px;
}

.followButton {
	margin: 32px 0;
}

.followButton button {
	border-radius: 32px;
	font-size: 10px;
	height: 24px;
	padding: 8px 16px;
	vertical-align: top;
	text-transform: uppercase;
	line-height: 8px;
}
