@import "../../index.scss";

.profileCoverContainer {
  margin: 0 -40px;
}

.profileImage {
  width: 200px;
  margin-top: -100px;
  position: relative;
}

.profileImageNoCover {
  width: 200px;
  position: relative;
}

.userName {
  font-weight: 800;
}

.blogContainer {
  width: 560px;

  @media screen and (max-width: 560px){
    width: 100%;
  }
}

.blogHeader {
  color: $primary-color;
  font-size: 22px;
}
