@import "../../styles/_variables.scss";


.bottomBarContainer {
    position: fixed;
    bottom: 0;
    background-color: white;
    height: 56px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

  .bottomBarItem {
    @media screen and (min-width: 985px) {
      display: none;
    }

  }

  @media screen and (min-width: 985px) {
    width: 0;
    padding-left: 0 !important;
  }

}

.bottomBar {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-around;
}
