@import "../../../../styles/_variables.scss";

.container {
  background-color: #fafafa;
  padding: 32px;

  @media screen and (max-width: 480px) {
    width: 100vw;
    margin-left: -24px;
    box-sizing: border-box;
  }
}

.communityHeader {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.54);
}

.communityLabel {
  padding: 4px 8px;
  margin-right: 16px;
  cursor: pointer;
}

.communityNormal {
  background-color: white;
  color: rgba(0, 0, 0, 0.54);
  transition: all ease-in 0.3s;
}

.communitySelected {
  background-color: $primary-color;
  color: white;
  transition: all ease-out 0.3s;
}
