.continer {
  margin-bottom: 12px;
}

.userImage {
	width: 28px;
	height: 28px;
}

.userImage img {
	width: 28px;
	height: 28px;
}

.headerContainer {
	font-family: 'Roboto-Regular';
	font-size: 14px;
	line-height: 20px;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 4px;
}

.userName {
	margin-left: 12px;
}

.replyBody {
	font-style: italic;
	font-weight: 500;
	margin-left: 40px;
	font-size: 14px;
	color:rgba(0,0,0,0.38);
	line-height:16px;
}

.actionBarContainer {
  margin-left: 40px;
}

.actionContainer {
  margin-right: 24px;
}

.actionCount {
  margin-left: 8px;
}
